* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid grey;
}

.logo {
  width: 150px;
  object-fit: contain;
}

.nav-items > ul {
  display: flex;
  list-style: none;
  gap: 4px;
}

.nav-items > ul > li {
  padding: 10px;
  font-size: 23px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.res-card {
  width: 200px;
  height: 300px;
  border: 1px solid grey;
  padding: 2px;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 9px;
}
.res-card > img {
  height: 180px;
  width: 195px;
  object-fit: cover;

}

.searchbar {
  padding: 10px;
}
